<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Ingredienti</title>
</head>

<body>

    <div id="app">

        <h1>Materie Prime</h1>

        <div class="ingredients">
            <ul>
                <li v-for="(ingredient, index) in ingredients" :class="{'underline': index < ingredients.length -1}">
                    <div class="ingredient">
                        <span>{{ ingredient.name }}</span>
                        <span>{{ ingredient.quantity }}</span>
                        <span>{{ ingredient.date }}</span>
                        <i class="fa-solid fa-trash" @click="delingredient(index) "></i>
                    </div>
                </li>
            </ul>
        </div>

        <form action="create.php" method="POST" @submit.prevent="addingredient()" class="add-ingredient">
            <input type="text" v-model="newIngredient.name" name="ingredient_name" id="ingredient_name" placeholder="Inserisci il nome" required>
            <input type="number" v-model="newIngredient.quantity" name="ingredient_quantity" id="ingredient_quantity" placeholder="Inserisci la quantità" required>
            <input type="date" v-model="newIngredient.date" name="ingredient_expiry" id="ingredient_expiry" placeholder="Inserisci la data di scadenza" required>
            <button type="submit">Inserisci</button>
        </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="script.js"></script>

</body>

</html>